body {
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: aqua;
    text-align: center;
  }
  
  header {
    /* position: fixed; */
    padding: 15px;
    box-shadow: 0 0 5px #000;    
    background-color: #908e8e;   
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #f7f73b;
    background-color: rgb(68, 92, 247);
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }

  /* nav li a.active {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #c1f93e;
    border-radius: 5px;
    color: black;
  } */
  
  